<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="MINPROGQUE, minprog, MInProgQue, контакты">
    <meta name="author" content="Дунаев Глеб">
    <meta name="description" content="контакты разработчиков сайта">
    <title>Контакты</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main_view">
        <div id="number">
            <p>ТЕЛЕФОН</p>
            <div class="content">{{number_of_phone}}</div>
        </div>
        <div id="email">
            <p>ПОЧТА</p>
            <div class="content">{{email_adress}}</div>
        </div>
        <div class="flex_elems">
            <div class="tg">
                <img src="" alt="">
                <p><a href="">@{{tg_name}}</a></p>
            </div>
        </div>
    </section>
</body>
</html>