<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование элемента</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/edit_adding_elem_widget.css">
</head>
<body>
    <div class="background-color_block">
        <section class="introducing div-flex_column">
            <div class="div-flex_row">
                <h1></h1>
                <button id="exit"></button>
            </div>
            <h2></h2>
            <h3></h3>
        </section>
        <section class="select_config div-flex_row">
            <button id="text">текст</button>
            <button id="photo">фото</button>
            <button id="code">код</button>
            <button id="test">тест</button>
            <button id="button">кнопка</button>
        </section>
        <section class="add_resource_block">
            <h1></h1>
            <div id="select_type_or_input_inf">
                <div id="input_image_button">
                    <div class="inner_button_block"></div>
                </div>
                <form id="input_form_for_button_inf">
                    <input type="text" placeholder="текст кнопки">
                    <input type="text" placeholder="url кнопки">
                </form>
                <div class="select_enter_code_or_text">
                    <button></button>
                    <button></button>
                </div>
            </div>
            <div class="custom_area">
                <label for="enter_text"></label>
                <textarea id="enter_text"></textarea>
            </div>
            <div id="test_edit"></div>
        </section>
        <button id="accept"></button>
    </div>
</body>
</html>