<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Дунаев Глеб">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Востановление пароля</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="view_container">
        <h1>MINPROGQUE</h1>
        <h2>ВВЕДИТЕ ВСЮ  НФОРМАЦИЮ, ЧТО ВЫ ПОМНИТЕ</h2>
        <div class="input_place">
            <input type="text" id="special_word" placeholder="слово">
            <input type="text" id="email" placeholder="почта">
            <input type="text" id="old_pass" placeholder="старый пароль">
            <button>восстановить пароль</button>
        </div>
        <p>вводите только достоверные данные
чем больше заполненных, правильно, полей, тем лучше,
попытайтесь вспомнить хотябы часть прошлого пароля</p>
    </section>
</body>
</html>