<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Дунаев Глеб">
    <title>УПС... ОШибоЧКА?</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background_flame"></div>
    <div class="header">
        <p class="err">УПС! ОШибка</p>
        <h1>Кажется что-то ...</h1>
    </div>
    <div class="error_widget">
        <div class="custom_exit-btn">ВЫХОД</div>
        <div class="place_inf">
            <h3>MinProgQue</h3>
            <p class="message">{{error_message}}</p>
            <p class="addition_text">Приносим свои извенения! Просим перезагрузить страницу или зайти позже</p>
        </div>
    </div>
    <div class=""></div>
    <link rel="stylesheet" href="/css/error.css">
</body>
</html>