    {% block footer %}
    <footer>
        <div class="flex-a">
            <a href="" class="foot-link">поддержка</a>
            <a href="" class="foot-link">контакты</a>
            <h3>MINPROGQUE</h3>
            <a href="" class="foot-link">правила</a>
            <a href="" class="foot-link">ресурсы</a>
        </div>
    </footer>
    {% endblock footer %}
    {% block feedback %}
    <section class="feedback">
        <div class="input_comment">
            <div class="decorate">
                Напишите свой комментарии.
                Ваше мнения для нас очень важно
            </div>
            <div class="place_for_enter">
                <textarea id="text-input-area"></textarea>
                <button id="send">отправить</button>
            </div>
        </div>
        <div class="old-feedback">
            <h2>КОММЕНТАРИИ</h2>
            <div class="flex-com">
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock feedback %}
    {%block scripts%}{% endblock scripts%}