    {% block header %}
    <header>
        <div id="func_btn"></div>
        <div class="flex-column_text">
            <p class="back_text">{% block back_text %}{% endblock back_text%}</p>
            <h1 onclick="window.location.href=`\\`">MINPROGQUE</h1>
        </div>
    </header>
    {% endblock header %}
    {% block another%}
    <section class="another">
         <div class="flex_text">
                <p class="introducing">ВСТУПЛЕНИЕ</p>
                <p class="first-preference">{% block content_1 %}{% endblock content_1 %}</p>
                <p class="second-preference">{% block content_2 %}{% endblock content_2 %}</p>
         </div>
        {% block sources %}{% endblock sources %}
        {% block embed %}{% endblock embed %}
    </section>
    {% endblock another%}
    {% block footer %}
    <footer>
        <div class="flex-a">
            <a href="/support" class="foot-link">поддержка</a>
            <a href="/contact" class="foot-link">контакты</a>
            <h3 onclick="window.location.href='/'">MINPROGQUE</h3>
            {% block third_link %}<a href="/rules" class="foot-link">правила</a>{% endblock third_link %}
            <a href="/sources" class="foot-link">ресурсы</a>
        </div>
    </footer>
    {% endblock footer %}
    {% block feedback %}
    <section class="feedback">
        <div class="input_comment">
            <div class="decorate">
                Напишите свой комментарии.
                Ваше мнения для нас очень важно
            </div>
            <div class="place_for_enter">
                <textarea id="text-input-area"></textarea>
                <button id="send">отправить</button>
            </div>
        </div>
        <div class="old-feedback">
            <h2>КОММЕНТАРИИ</h2>
            <div class="flex-com">
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
                <div>
                    <p class="name">name_sender</p>
                    <p class="comment">text_of_comment</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock feedback %}
    {%block styles_footer %}
    <link rel="stylesheet" href="/static/css/footer.css">
    {% endblock styles_footer%}
    {% block header_style %}
    <link rel="stylesheet" href="/static/css/header.css">
    {% endblock header_style %}
    {% block another_style %}
    <link rel="stylesheet" href="/static/css/another.css">
    {% endblock another_style %}
    {% block scripts%}{% endblock scripts%}
