<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Дунаев Глеб">
    <meta name="keywords" content="MinProgQue, Правила сайта, minprogque, minpg>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила сайта</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="exit-btn"></div>
        <div class="custom_header" onclick="window.location.href=``">
            <h1>ПРАВИЛА САЙТА</h1>
            <h2>MinProgQue</h2>
        </div>
    </header>
    <section class="inf">
        <div class="flex_text">
            <p>ВСТУПЛЕНИЕ</p>
            <p>-это раздел сайта, который посвящен правилам. рекомендуется не совершать действий проиворечащим принципам изложенным ниже, за некоторые из нарушений, вы,  можете получить блокировку вашего аккаунта на данном информационном ресурсе. С уважением администрация сайта MINimal programm Query.</p>
            <p>-читайте все внимательно! Если обнаружили ошибку или несогласны с чем-то пишите в поддержку.</p>
        </div>
    </section>
    <section class="view"></section>
    <footer>
        <nav>
            <div class="flex-column_container">
                <h2>MINPROGQUE</h2>
                <div class="flex_a">
                    <a href="" class="navigate">ПОДДЕРЖКА</a>
                    <a href="" class="navigate">КОНТАКТЫ</a>
                    <a href="" class="navigate">ЗАДАЧИ</a>
                    <a href="" class="navigate">РЕСУРСЫ</a>
                    <a href="" class="navigate">ПРОФИЛЬ</a>
                </div>
            </div>
        </nav>
    </footer>
    <link rel="stylesheet" href="/css/stricts.css">
</body>
</html>