<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="вход minprogque, вход, minprogreg, MInProgQue">
    <meta name="author" content="Дунаев Глеб">
    <meta name="description" content="Вход в аккаунт">
    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section>
        <div class="header_of_block" onclick="window.location.href='/'">
            <h2>MINPROGQUE</h2>
            <h1>ВХОД</h1>
        </div>
        <form action="" id="login_form">
            <input type="text" name="token" placeholder="токен">
        </form>
        <div class="addition_text">
            <a href="">забыли пароль?</a>
            <a href="">востановление аккаунта</a>
        </div>
        <div class="flex-btns">
            <button id="login" style="width: 720px !important;">ВХОД</button>
        </div>
        <button class="return_to_norm" onclick="window.location.href='/login'">ВЕРНУТЬСЯ ОБРАТНО</button>
    </section>
    <link rel="stylesheet" href="/static/css/login.css">
</body>

</html>