<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="MINPROGQUE, minprog, MInProgQue, Python, Программирование, Задачи, Объяснения, программа">
    <meta name="author" content="Дунаев Глеб">
    <meta name="description" content="бесплатный сайт длдя знакомства с программированием">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    {% block header %}{% endblock header %}
    <header>
        <div class="background" style="background-image: url('/static/images/main/main_back.svg'); width: 1307px; height: 808px;"></div>
        <div class="flex-inf">
            <nav>
                <button class="header-btn">КОНТАКТЫ</button>
                <button class="header-btn">ВОЙТИ</button>
                <h3>MINPROGQUE</h3>
                <button class="header-btn">ЗАДАЧИ</button>
                <button class="header-btn">ПРАВИЛА САЙТА</button>
            </nav>
            <div class="introducing">
                <h1>MINIMAL <mark class="m-1">PROGRAMM</mark> QUERY</h1>
                <button id="start_learn" class="'start-btn">НАЧАТЬ ИЗУЧЕНИЕ</button>
                <p class="header__intro_text">САЙТ, КОТОРЫЙ ПОМОЖЕТ ПРОДТЯНУТЬ СВОЕ ПОНИМАНИЕ В ПРОГРАММИРОВАНИИ</p>
            </div>
        </div>
    </header>
    <section class="first-block">
        <div class="background" style="background-image: url('/static/images/main/first-back.svg'); width: 1307px; height: 1435px;"></div>
        <div class="about">
            САЙТ, КОТОРЫЙ ПРЕДОСТАВЛЯЕТ ВАМ ВОЗМОЖНОСТЬ ОЗНАКОМИТЬСЯ С МНОЖЕСТВОМ ЗАДАЧ, ПОПЫТАТЬСЯ РЕШИТЬ ИХ И ПОЗЖЕ ПРИМЕНИТЬ ПРИОБРЕТЕННЫЙ НАВЫК НА ПРАКТИКЕ. СОЗДАН В РАМКАХ ПРОЕКТА
        </div>
        <div class="prof">
            <div class="block">ЧЕМ САЙТ ДЛЯ ВАС ПОЛЕЗЕН</div>
            <div class="block-1">НА ДАННОМ САЙТЕ ДЛЯ ВАС ПРЕДСТАВЛЕНО МНОГО ОБУЧАЕЩЕГО МАТЕРИАЛА</div>
            <div class="block-2">ЗДЕСь ВЫ МОЖЕТЕ ПОЛУЧИТЬ БАЗОВОЕ ЗНАНИЕ PYTHON</div>
            <div class="block-3">ВСЕ БЕСПЛАТНО</div>
            <div class="block-4">У НАС ЕСТЬ ЗАДАНИЯ ДЛЯ ОТРАБОТКИ
                ИЗУЧЕННОГО МАТЕРИАЛА</div>
            <div class="block-5">ОБЪЯСНИМ ПРОСТО</div>
            <div class="block-6">БЫСТРО И ПОЛЕЗНО</div>
        </div>
        <div class="more_inf">
            <div class="f-right-inf">
                <img src="/static/images/main/number-one.svg" alt="">
                <div class="text">
                    <p class="main_text">Удобное взаимодействие с информацией. Создав, учетную запись она станет в разы легче.</p>
                    <p class="dependence_text">Заполнение таких категорий: любимое, заметки, отложенное</p>
                </div>
            </div>
            <div class="right_inf">
                <img src="/static/images/main/number-two.svg" alt="">
                <div class="text">
                    <p class="main_text">Поиск задач по категориям. Задачи в формате ЕГЭ</p>
                </div>
            </div>
        </div>
    </section>
    <section class="second-block">
        <div class="background" style="background-image: url('/static/images/main/second-back.svg'); width: 1307px; height: 1351px;"></div>
        <div class="rating-task">
            <h3>ТОП-5 ЗАДАЧ</h3>
            <div id="top_of_tasks">
                <div>
                    <p>1</p>
                    <p>task1</p>
                </div>
                <div>
                    <p>2</p>
                    <p>task2</p>
                </div>
                <div>
                    <p>1</p>
                    <p>task1</p>
                </div>
                <div>
                    <p>2</p>
                    <p>task2</p>
                </div>
                <div>
                    <p>1</p>
                    <p>task1</p>
                </div>
            </div>
        </div>
        <h3>МЕТОДИКА ПРЕПОДНЕСЕНИЯ КОНТЕНТА</h3>
        <div class="flex-text-tags">
            <p>читай</p>
            <p>смотри</p>
            <p>практикуй</p>
            <p>закрепляй</p>
        </div>
    </section>
    <section class="end-block">
        <h3>СЛОВА АВТОРА:</h3>
        <div class="author_words">
            <p class="first-preference">СПАСИБО, ЧТО ДОШЛИ ДО КОНЦА ПЕРВОЙ СТРАНИЦЫ</p>
            <p class="first-preference">НАДЕЕМСЯ, ЧТО ЭТОТ САЙТ ПРИДЕТЬСЯ ВАМ ПО ДУШЕ</p>
            <p class="second-preference">перед использованием сайта рекомендуется пройти регистрацию и прочитать инструкцию по эксплутации</p>
            <div class="custom-btn__toUp" onclick="window.scrollTo(0, 0)">
                <p>ПОДНЯТЬСЯ НАВЕРХ</p>
            </div>
        </div>
        <div class="log_and_reg-btn">
            <button>ЗАРЕГИСТРИРОВАТЬСЯ</button>
            <button>ВОЙТИ</button>
        </div>
    </section>
    {% extends 'footer_header.html' %}
    {% block header_style %}{% endblock header_style %}
    {% block another %}{% endblock another %}
    {% block another_style %}{% endblock another_style %}
</body>
</html>