<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Составьте конфигурацию</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section id="adv_1"></section>
    <section class="main_view">
        <div class="background-color_block">
            <div class="select_conf_window">
            <div class="div-flex_row">
                <div class="button_1" onclick="location.href='/'">home</div>
                <div class="button_2" onclick="location.href='users/profile'">profile</div>
            </div>
            <div class="div-flex_column">
                <h2 class="heading-text">MINPROQUE</h2>
                <div class="conf_board">
                    <div id="insert_area"></div>
                    <h1 id="head">MAXCLICKPICK</h1>
                </div>
                <div id="take_result">ПОЛУТЬ РЕЗУЛЬТАТ</div>
            </div>
        </div>
        </div>
    </section>
    <section id="adv_2"></section>
    <link href="/static/css/maxclickpick_conf.css" rel="stylesheet">
    <script src="/static/js/maxclickpick.js"></script>
</body>
</html>