<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="регистриция minprogque, Регистриция, minprogreg, MInProgQue">
    <meta name="author" content="Дунаев Глеб">
    <meta name="description" content="Регистриция на сайте">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section id="reg_view_container">
        <button onclick="window.location.href='/login'" style="background: none; background-image: url('/static//images/registration/exit-btn.svg'); width: 30px; height: 30px; border: none; background-repeat: no-repeat;" class="exit-btn"></button>
        <div class="form_block">
            <div class="header_of_block">
                <h2>MINPROGQUE</h2>
                <h1 onclick="window.location.href='/'">РЕГИСТРАЦИЯ</h1>
            </div>
            <form action="" id="registration">
                <div class="input_div">
                    <label>имя</label>
                    <input type="text" name="first_name">
                </div>
                <div class="input_div">
                    <label>фамилия</label>
                    <input type="text" name="last_name">
                </div>
                <div class="input_div">
                    <label>почта</label>
                    <input type="text" name="email">
                </div>
                <div class="input_div">
                    <label>дата рождения</label>
                    <input type="date" name="birth_date">
                </div>
                <div class="input_div">
                    <label>пароль</label>
                    <input type="password" name="password" p>
                </div>
                <div class="input_div">
                    <label>повторите пароль</label>
                    <input type="password" name="repeat_password">
                </div>
                <button type="button">выберите фото профиля</button>
                <div class="check-box">
                    <input type="checkbox" name="agree_with">
                    <label>ХОТИТЕ ПОЛУЧАТЬ СВЕДИЕ НОВОСТИ О ЖИЗНИ САЙТА?</label>
                </div>
            </form>
            <button form="registration" id="reg">
                <img src="/static/images/registration/arrow.svg" alt="">
            </button>
        </div>
    </section>
    <link rel="stylesheet" href="/static/css/registartion.css" id="custom_style">
    <script src="/static/js/registration.js"></script>
    {% extends 'add_special_word.html' %}
</body>
</html>