<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="регистриция minprogque, Регистриция, minprogreg, MInProgQue">
    <meta name="author" content="Дунаев Глеб">
    <meta name="description" content="Регистриция на сайте">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <button style="background: none; background-image: url('/images/registration/exit-btn.svg'); width: 30px; height: 30px; border: none; background-repeat: no-repeat;" class="exit-btn"></button>
        <div class="form_block">
            <div class="header_of_block">
                <h2>MINPROGQUE</h2>
                <h1>РЕГИСТРАЦИЯ</h1>
            </div>
            <form action="" id="registration">
                <div class="input_div">
                    <label for="name">имя</label>
                    <input type="text" name="name">
                </div>
                <div class="input_div">
                    <label for="surname">фамилия</label>
                    <input type="text" name="surname">
                </div>
                <div class="input_div">
                    <label for="email">почта</label>
                    <input type="text" name="email">
                </div>
                <div class="input_div">
                    <label for="birth_date">дата рождения</label>
                    <input type="date" name="birth_date">
                </div>
                <div class="input_div">
                    <label for="password">пароль</label>
                    <input type="password" name="password" p>
                </div>
                <div class="input_div">
                    <label for="password_again">повторите пароль</label>
                    <input type="password" name="password_again">
                </div>
                <button type="button">выберите фото профиля</button>
                <div class="check-box">
                    <input type="checkbox" name="agree_with">
                    <label for="agree_with">ХОТИТЕ ПОЛУЧАТЬ СВЕДИЕ НОВОСТИ О ЖИЗНИ САЙТА?</label>
                </div>
            </form>
            <button form="registration" id="reg">
                <img src="/images/registration/arrow.svg" alt="">
            </button>
        </div>
    </section>
    <link rel="stylesheet" href="/css/registartion.css">
</body>
</html>