<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Дунаев Глеб">
    <meta name="keywords" content="MinProgQue, Правила сайта, minprogque, minpg>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила сайта</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% extends 'footer_header.html' %}
    {% block back_text %}ПРАВИЛА САЙТА{% endblock back_text%}
    {% block third_link %}<a href="" class="foot-link">профиль</a>{% endblock third_link %}
    {% block embed %}<embed src="/static/pdf/codeStyle.pdf" type="application/pdf" width="1280px" height="700px">{% endblock embed %}
    {% block content_1 %}-это раздел сайта, который посвящен правилам. рекомендуется не совершать действий проиворечащим принципам изложенным ниже, за некоторые из нарушений, вы,  можете получить блокировку вашего аккаунта на данном информационном ресурсе. С уважением администрация сайта MINimal programm Query.{% endblock content_1 %}
    {% block content_2 %}-читайте все внимательно! Если обнаружили ошибку или несогласны с чем-то пишите в поддержку.{% endblock content_2 %}
    {% block feedback %}{% endblock feedback %}
</body>
</html>