<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачи</title>
</head>
<body>
    <header>
        <h1>ЗАДАЧИ</h1>
        <a href="">ПРОФИЛЬ</a>
        <h1>MINPROGQUE</h1>
        <a href="">ГЛАВНАЯ СТРАНИЦА</a>
    </header>
    <section class="left_fixed_container" id="groups_of_tasks"></section>
    <section class="left-view_container">
        <section class="view_container"></section>
        {%footer%}
        {%feedback%}
    </section>
    <link rel="stylesheet" href="/css/tasks.css">
</body>
</html>