* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_view__scroll {
    width: 1307px;
    border: solid 3px black;
    padding: 20px; border-radius: 10px;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #4A6160;
    font-size: 32px;
    font-weight: inherit;
    font-family: inherit;
}

.input_inf {
    justify-content: space-between;
}

.div-flex_row {
    display: flex;
}

.div-flex_column {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    width: 700px;
    border: none;
    height: 300px;
    background-color: rgba(82, 161, 157, 0.5);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    padding: 10px 20px 10px 10px;
}

textarea:focus {
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    background: rgba(209, 255, 253, 0.5);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #52A19D;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

label {
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    color: #E0733A;
    margin-bottom: 10px;
    align-self: start;
    margin-left: 15px;
}

.left_form {
    gap: 10px;
    align-items: center;
    height: max-content;
    justify-content: space-between;
}

input {
    width: 530px;
    height: 80px;
    border: none;
    background-color: rgba(82, 161, 157, 0.5);
    border-radius: 10px 10px 5px 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    padding: 10px 20px 10px 10px;
    border-bottom: solid 5px #4A6160;
}

input:focus {
    outline: none;
}

select {
    width: 530px;
    height: 80px;
    appearance: none;
    border-radius: 10px 10px 5px 5px;
    border: none;
    border-bottom: solid 5px #4A6160;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: rgba(82, 161, 157, 0.5);
}

option {
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
}

select:focus {
    outline: none;
}

.left_form label {
    margin-bottom: 0;
}

.left_form button {
    cursor: pointer;
    margin-top: 10px;
    width: 530px;
    height: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: #4A6160;
    color: white;
    font-weight: 700;
    font-family: inherit;
    font-size: 20px;
    transition: background-color 3s, color 1s;
}

.left_form  button:hover {
    color: #4A6160;
    background-color: rgba(82, 161, 157, 0.3);
}


.add_elem_details {
    align-items: center;
    margin-top: 40px;
    border: solid 3px black;
    width: 1265px;
    border-radius: 10px;
    min-height: 200px;
}

.add_elem_details h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#add_button {
    cursor: pointer;
    color: #4A6160;
    background-color: rgba(82, 161, 157, 0.3);
    width: 1260px;
    height: 120px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 64px;
    transition: background-color 3s, color 1s;
}

#add_button:hover {
    background-color: #4A6160;
    color: white;
}
