/* start footer */
footer {
    width: 1307px;
    min-height: 113px;
    background-color: rgba(74, 97, 96, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer h3 {
    font-size: 32px;
    color: white;
    font-family: inherit;
    font-weight: 900;
    text-align: center;

}

footer .flex-a {
    display: flex;
    flex-direction: row;
    width: 1307px;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

footer a {
    text-decoration:  none;
    color: rgba(255, 255, 255, 0.564);
    font-size: 20px;
    font-family: inherit;
    font-weight: 900;
    width: max-content;
    line-height: normal;
    line-height: normal;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* end footer */
/* start feedback */
.feedback {
    width: 1307px;
    min-height: 770px;
    background-color: rgba(74, 97, 96, 1);
    border: solid 5px rgba(82, 161, 157, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input_comment {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.decorate {
    font-family: inherit;
    font-size: 24px;
    font-weight: 900;
    color: rgba(224, 115, 58, 1);
    text-align: center;
    background-color: white;
    width: 281px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
}

.old-feedback {
    margin-bottom: 100px;
    width: 1307px;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
}

.old-feedback h2 {
    color:  white;
    font-size: 32px;
    font-family: inherit;
    font-weight: 900;
    position: relative;
    left: 25px;
}

.old-feedback .flex-com {
    user-select: none;
    width: 1230px;
    height: 260px;
    background-color: rgba(82, 161, 157, 0.5);
    display: flex;
    gap: 30px;
    padding-top: 25px;
    justify-content: space-around;
    overflow-x: scroll !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    top: 30px;
}

.flex-com::-webkit-scrollbar {
    height: 13px;
}

.flex-com::-webkit-scrollbar-track {
    background: rgba(209, 255, 253, 0.5);
}

.flex-com::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

textarea {
    width: 895px;
    height: 210px;
    resize: none;
    padding: 10px 10px 50px 10px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

textarea:focus {
    border: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    background: rgba(209, 255, 253, 0.5);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(224, 115, 58, 1);;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#send {
    cursor: pointer;
    border: none;
    width: 895px;
    height: 43px;
    background-color: rgba(82, 161, 157, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-family: inherit;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 900;
    position: relative;
    bottom: 5px;
    padding-top: 5px;
}

#send:hover {
    background-color:  rgba(82, 161, 157, 0.335);
    color:  rgba(82, 161, 157, 1);
}

.old-feedback .flex-com div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 200px;
    padding: 10px;
    background-color: rgba(74, 97, 96, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.flex-com div .name {
    color: rgba(59, 224, 216, 1);
    font-size: 24px;
    font-weight: 700;
    font-family: inherit;
}

.flex-com .comment {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
}

/* end feedback */